################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MyProjectRestApi/Image
.vs/
/MyProjectRestApi/Web.config